:root {
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Poppins', sans-serif;

    --clr-neutral: hsl(0, 0%, 96%);;
    --clr-gray: hsl(0, 0%, 80%);

    --clr-violet: hsl(257, 40%, 49%);
    --clr-magneta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img,
svg {
    display: block;
    width: 100%;
}

h1 {
    --lh-small: 2rem;
    --lh-medium: 2.5rem;
    --lh-large: 3.5rem;
    --fs-small: 1.5rem;
    --fs-medium: 2rem;
    --fs-large: 2.5rem;

    font-weight: 600;
    font-size: var(--fs-small);
    font-family: var(--ff-secondary);
    line-height: var(--lh-small);
    color: var(--clr-neutral);
}

@media (min-width: 48em) {
    h1 {
        font-size: var(--fs-medium);
        line-height: var(--lh-medium);
    }
}

@media (min-width: 64em) {
    h1 {
        font-size: var(--fs-large);
        line-height: var(--lh-large);
    }
}

p {
    color: var(--clr-gray);
}

@media (min-width: 40em) {
    p {
        font-size: .85rem;
    }
}

@media (min-width: 48em) {
    p {
        font-size: initial;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    padding: 2.3rem;
    min-height: 100vh;
    font-family: var(--ff-primary);
    background: var(--clr-violet) url(./images/bg-mobile.svg) top center/100% no-repeat;
}

@media (min-width: 40em) {
    body {
        background: var(--clr-violet) url(./images/bg-desktop.svg) left/cover no-repeat;
    }
}

@media (min-width: 48em) {
    body {
        height: 100vh;
        padding: 3rem;
    }
}

.flex-flow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    gap: 3rem;
    height: auto;
    max-width: 100rem;
    margin-inline: auto;
}

@media (min-width: 40em) {
    .wrapper {
        gap: 1.3rem;
        height: 100%;
    }
}

.logo {
    width: auto;
    height: 2.2rem;
}

@media (min-width: 48em) {
    .logo {
        height: 3rem;
    }
}

.hero {
    display: grid;
    gap: 4rem;
    text-align: center;
}

@media (min-width: 40em) {
    .hero {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        text-align: initial;
    }
}

@media (min-width: 80.375em) {
    .hero {
        gap: 5rem;
    }
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 30rem;
}

@media (min-width: 80.375em) {
    .heading {
        padding-top: 2.5rem;
        gap: 1.5rem;
    }
}

.title {
    max-width: 30rem;
}

.button {
    padding: .8rem 5rem;
    margin-top: 1rem;
    font-family: var(--ff-secondary);
    font-size: .85rem;
    color: var(--clr-violet);
    background-color: var(--clr-neutral);
    border: none;
    border-radius: 100vw;
    box-shadow: 0 .5rem 3rem hsla(0, 0%, 0%, .3);
    cursor: pointer;
}

.button:hover {
    color: var(--clr-neutral);
    background-color: var(--clr-magneta);
}

@media (min-width: 48em) {
    .button {
        padding: .8rem 4rem;
        font-size: .9rem;
    }
}

@media (min-width: 80.375em) {
    .button {
        padding: 1rem 5rem;
        font-size: 1rem;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    height: auto;
    font-size: 1rem;
    color: var(--clr-neutral);
}

@media (min-width: 40em) {
    .social-icons {
        justify-content: flex-end;
    }
}

.icon {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--clr-neutral);
    border-radius: 100%;
}




