:root {
    --ff-default: 'Barlow Semi Condensed', sans-serif;

    --clr-accent-1: hsl(263, 55%, 52%);
    --clr-accent-2: hsl(217, 19%, 35%);
    --clr-accent-3: hsl(219, 29%, 14%);

    --clr-neutral: hsl(0, 0%, 100%);
    --clr-neutral-gray: hsl(0, 0%, 81%);
    --clr-shadow: hsla(217, 19%, 35%, .3);
    --clr-background: hsl(210, 46%, 95%);

    --clr-body-light: 0, 0%, 100%;
    --clr-body-dark: 217, 19%, 35%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
}

h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

@media (min-width: 64em) {
    h1 {
        font-size: 1.3rem;
    }
}

img,
svg {
    display: block;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 0.8125rem;
    font-weight: 500;
    font-family: var(--ff-default);
    background-color: var(--clr-background);
}

.grid {
    display: grid;
    row-gap: 1.5rem;
}

@media (min-width: 64em) {
    .grid {
        grid-template-areas: 
            "one one two five"
            "three four four five";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
    }
}

.cards {
    margin: 1.5rem;
    max-width: 75rem;
}

.card {
    --shadow: 1rem 1rem 5rem var(--clr-shadow);
    --clr-light: var(--clr-neutral);
    --clr-light-faded: hsla(var(--clr-body-light), .5);
    --clr-dark: var(--clr-accent-2);
    --clr-dark-faded: hsla(var(--clr-body-dark), .5);

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem 2.5rem;
    border-radius: .5rem;
    color: var(--clr-light);
    background-color: var(--clr-neutral);
}

.card-1 {
    background: var(--clr-accent-1) url(./images/bg-pattern-quotation.svg) no-repeat 90% top/auto;
}
.card-2 {
    background-color: var(--clr-accent-2);
}
.card-4 {
    background-color: var(--clr-accent-3);
}
.card-3,
.card-5 {
    color: var(--clr-dark);
    box-shadow: var(--shadow);
}

@media (min-width: 64em) {
    .card-1 {
        grid-area: one;
        background: var(--clr-accent-1) url(./images/bg-pattern-quotation.svg) no-repeat 80% top/auto;
    }
    .card-2 {
        grid-area: two;
    }
    .card-3 {
        grid-area: three;
    }
    .card-4 {
        grid-area: four;
    }
    .card-5 {
        grid-area: five;
    }    
}

.card-author {
    display: flex;
    column-gap: 1rem;
}

.card-author-avatar {
    height: 2.3rem;
    width: 2.3rem;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--clr-light-faded);
}

.card-4 .card-author-avatar {
    border: 2px solid var(--clr-accent-1);
}

.card-author-name {
    line-height: 1.125rem;
}

.badge,
.card-heading-info {
    color: var(--clr-light-faded);
}

.card-3 .badge,
.card-5 .badge {
    color: var(--clr-dark-faded);
}

.card-heading {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.card-heading-info {
    line-height: 1.25rem;
}

.card-3 .card-heading-info,
.card-5 .card-heading-info {
    color: var(--clr-dark-faded);
    font-weight: 600;
}

.attribution { font-size: 11px; text-align: center; padding: 1rem 0; }
.attribution a { color: hsl(228, 45%, 44%); }